/* common styles */
body h1,
h2,
h3,
h4,
h5 p,
a {
  font-family: "Quicksand", sans-serif !important;
}

/* header styling starts */
.header .top-bar,
.top-bar ul,
.header a,
.header a:hover {
  background-color: #1779ba !important;
  color: white;
}
.dropdown.menu>li.is-active>a { /* overriding foundation style */
    color: white !important;
}
.header-logo a {
  padding: 0 !important;
}
.header-logo img {
  width: 50px;
}
.profile-drop :hover {
  color: white;
}

/* header styling ends */

.features-sec {
  text-align: center;
}
.break-sec {
  /** breaking space with background color **/
  background-color: #1779ba;
  color: white;
}

/* index page styles starts */

/* banner styles starts */
.promo-banner {
  height: 500px;
  background: url("../assets/Parking1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.promo-banner button {
  position: absolute;
  right: 10%;
  bottom: 50%;
  font-size: large;
}
/* banner styles starts */

.paid-park {
  height: 450px;
  background-image: url("../assets/Parking3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.free-park {
  height: 450px;
  background-image: url("../assets/Parking2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.app-link-sec {
  position: relative;
  height: 250px;
  background-image: url("../assets/promo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.app-link {
  position: absolute !important;
  top: 50%;
  left: 50%;
}
.google-logo a {
  padding: 0 !important;
}

.apple-logo a {
  padding: 0.5rem 1rem;
}
/* index page styles ends */

/* paid & free parking pages styling starts */
#map {
  height: 100vh;
  background-image: url("../assets/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* paid & free parking pages styling ends */

/* footer styling starts */
.footer-logo {
  width: 60px;
}
.footer {
  padding: 30px;
  background-color: #1779ba;
  color: white;
  text-align: center;
}
.footer a {
  color: white;
}
.social-links {
    text-align: center;
    justify-content: space-between;
}
.social-links>ul {
    justify-content: space-between;
}
.footer ul {
  display: inline-flex;
}
/* footer styling ends */

/* other styles */
.center-box-align-logo {
    text-align: center;
}

@media only screen and (max-width: 600px) { 
  .app-link {
    top: 20%;
    left: 30%;
  }
}